.analytics-panel {
  padding: 2rem;
  width: 100%;
  background: #fff;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

h3 {
  margin-top: 2rem;
}